@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300;1,500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.hero{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    height: 600px;
    justify-content: space-between;
}
.nav{
    display: flex;
    align-items: center;
    height: 60px;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
    flex:1;
    padding-left: 220px;
}
a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
.links{
    display: flex;
    gap: 35px;
    flex:1;
    align-items: center;
}

.main{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}
.intro{
    flex: initial;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    margin-left: 220px;
}
.hero-header{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.hero-text{
    font-size: 18px;
    color: #e5e7eb;
}
button{
    align-self: flex-start;
    padding: 7px 25px;
    border-radius: 7px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
}
.img{
    justify-self: center;
    margin-left: 150px;
}
.info-head{
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1f2937;
    margin: 40px;
}
.poster img{
    width: 160px;
    height: 200px;
    margin-bottom: 10px;
}
.info{
    display: flex;
    flex-wrap: wrap;
    margin: 0 225px 100px 225px;
    gap: 142px;

}
.card{
    flex: initial;
    width: 160px;
    text-align: center;
}
.quote-section{
    height: 400px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote{
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    margin: 0 230px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.name{
    align-self: flex-end;
    font-weight: bold;
    font-size: 22px;
    padding-right: 100px;
    
}
.action{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.segment{
    width: 75vw;
    height: 150px;
    background-color: #3882f6;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.act-head{
    font-size: 30px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 10px;
}
.act-txt{
    font-size: 18px;
    color: #f9faf8;

}
.segment button{
    align-self: center;
    border: #f9faf8 2px solid;
}
.foot{
    height: 100px;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
